
.sidebar {
    position: fixed;
    left: 50%;
    top: 60px;
    width: 295px;                   /* Same width as .span3 */
    /*margin-left: -700px;*/
    margin-left: 250px;
} .sidebar .well {
    padding: 0em 0px ;
} .sidebar .nav {
    text-align: center;
    margin: 0px -1px;
    padding: 0px;
} .sidebar .nav li {
    overflow-x: hidden;
} .sidebar .nav li:not(.active) {
    padding: 4px 0px;
    margin-left: 1px;
    margin-right: 1px;
}
