select {
    overflow: hidden;
}

#navbar {
    margin-right: 5px;
}

.twitter-typeahead {
    width: 100%;
    position: relative;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {

}

.twitter-typeahead .tt-hint {
    color: #a1a1a1;
    z-index: 1;
    padding: 6px 12px;
    border: 1px solid transparent;
}

.twitter-typeahead .tt-query {
    z-index: 2;
}

.input-group-addon + .twitter-typeahead > .tt-query {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.input-group-appended > .twitter-typeahead > .tt-query {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
    cursor: pointer;
}
.tt-suggestion.tt-cursor {
	background-color: #e6e6e6;
}
.tt-suggestion p {
	margin: 0;
}

.form-box {
    padding-top: 5px;
}

.btn-primary {
	background-color: #577492;
}

.btn-primary:hover {
	background-color: #3D5166;
}

.btn-primary:focus {
	background-color: #3D5166;
}

.tags {
    margin-bottom: 5px;
}

.btn-tag {
    margin-bottom: 5px;
}

#grade-group {
    margin: 0 auto;
}

.btn-group {
    float: none !important;
}

tbody > tr:hover {
	cursor: pointer;
    text-decoration: underline;
}

.navbar {
    border-radius: 0px !important;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#navigationlist.in {
    overflow: visible;
}

.navbar-brand {

}

.navbar-default {
    background-color: #577492;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #A5A8A9;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #A5A8A9;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #A5A8A9;
    background-color: #3D5166;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #A5A8A9;
    background-color: #3D5166;
}
.navbar-default .navbar-toggle {
    border-color: #3D5166;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3D5166;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #A5A8A9;
}

body, html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.hide {
    display: none;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: #3D5166;
    }
}
