version: "3"
services:
    grades:
        build:
            context: "."
            dockerfile: "Dockerfile"
        ports:
            - "8080:8080"
            - "8081:8081"
        volumes:
            - "/db.sqlite3:/srv/app/gradestats/db.sqlite3"
