Django==3.0
requests
bs4
html5lib
djangorestframework==3.11.0
drf-extensions==0.6.0
psycopg2-binary==2.8.5
openapi==1.1.0
PyYAML==5.3.1
uritemplate==3.0.1
django-filter==2.2.0
django-watson==1.5.5
black==19.10b0
sentry-sdk==0.14.3
