{% extends "base.html" %}

{% block title %} {{ block.super }} | Om oss {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Teknisk info</h1>
        <a target="_blank" href="https://www.djangoproject.com/"><h3>Django</h3></a>
        <p>Django brukes som backend for å håndtere database kall og data validering.</p>

        <a target="_blank" href="http://getbootstrap.com/"><h3>Bootstrap</h3></a>
        <p>Bootstrap benyttes for at siden skal være responsive og tilpasse seg ulike skjermstørelser.
            Dette gjør at siden også kan brukes på smarttelefoner uten noe ekstra styr.</p>
        <a target="_blank" href="http://www.jqplot.com/"><h3>JqPlot</h3></a>
        <p>JqPlot lager grafene som viser karakter statistikken.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>Informasjon</h1>
        <a target="_blank" href="http://www.ntnu.no/karstat/login.do"><h3>Karakterstatistikk</h3></a>
        <p>Inneholder karakterstatistikk for alle fakultetene på NTNU.</p>
        <a target="_blank" href="http://www.ime.ntnu.no/api"><h3>Faginformasjon</h3></a>
        <p>API som tilbyr innformasjon om fagene som går på NTNU.</p>
    </div>
</div>

{% endblock content %}
