{% extends "base.html" %}

{% block title %} {{ block.super }} | Om oss {% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8">
    <h1>Oss</h1>
    <p>Tor-Håkon Bonsaksen</p>
    <p>Lars Erik Grasdalk-Knuterud</p>
    <p>Håvard Lian</p>
</div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>Teknisk info</h1>
        <a href="https://www.djangoproject.com/"><h2>Django</h2></a>
        <p>Django brukes som backend for å håndtere database kall og data validering.</p>

        <a href="http://getbootstrap.com/"><h2>Bootstrap</h2></a>
        <p>Bootstrap benyttes for at siden skal være responsive og tilpasse seg ulike skjermstørelser.
            Dette gjør at siden også kan brukes på smarttelefoner uten noe ekstra styr.</p>
        <a href="http://www.jqplot.com/"><h2>JqPlot</h2></a>
        <p>JqPlot lager grafene som viser karakter statistikken.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>Informasjon</h1>
        <a href="http://www.ntnu.no/karstat/login.do"><h2>Karakterstatistikk</h2></a>
        <p>Inneholder karakterstatistikk for alle fakultetene på NTNU.</p>
        <a href="www.ime.ntnu.no/api"><h2>Faginnformasjon</h2></a>
        <p>API som tilbyr innformasjon om fagene som går på NTNU.</p>
    </div>
</div>

{% endblock content %}
