{% extends "base.html" %}

{% block title %} {{ block.super }} | Om oss {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Oss</h1>
        <ul>
            <li>Tor-Håkon Bonsaksen</li>
            <li>Lars Erik Grasdalk-Knuterud</li>
            <li>Håvard Holmboe Lian</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>Teknisk info</h1>
        <a href="https://www.djangoproject.com/"><h3>Django</h3></a>
        <p>Django brukes som backend for å håndtere database kall og data validering.</p>

        <a href="http://getbootstrap.com/"><h3>Bootstrap</h3></a>
        <p>Bootstrap benyttes for at siden skal være responsive og tilpasse seg ulike skjermstørelser.
            Dette gjør at siden også kan brukes på smarttelefoner uten noe ekstra styr.</p>
    </div>
</div>
{% endblock content %}
