<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Gradestats{% endblock%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>
    {% block css %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/gradestats.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationlist">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Gradestats</a>
            </div>
            <div class="collapse navbar-collapse" id="navigationlist">
                <ul id="navbar navbar-left" class="nav navbar-nav">
                {% if navbar %}
                {% for key, value in navbar.items %}
                    <li class="navbar-item"><a href="/{{ key }}/">{{ value }}</a></li>
                {% endfor %}
                {% endif %}
                </ul>

                <form class="navbar-form navbar-right" action="/search/" method="GET">
                    <div class="control-group form-inline">
                        <input autocomplete="off" id="query" name="query" value="{{query}}" type="text" class="tt-input form-control input-default"/>
                        <select class="form-control input-default" name="faculty_code">
                            <option value="-1">Velg fakultet eller søk på alle fakulteter</option>
                            {% for key, value in faculties.items %}
                                <option {% if key == selected %} selected {% endif %} value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="input-default btn btn-default">Søk</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
        {% if messages %}
            <div class="container messages">
                <div class="row">
                    <div id="message-list" class="col-md-12">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" data-alert>
                                <button type="button" class="close"  data-dismiss="alert">&times;</button>
                                <p>{{ message.text }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="container">
           {% block content %}
           {% endblock%}
        </div>
        <br />
        <div class="navbar navbar-default navbar-bottom">
            <div class="container-fluid">
                <p class="navbar-text pull-left">IT2805 2014</p>
                <p class="navbar-text pull-right">Tor-Håkon Bonsaksen, Lars Erik Græsdal-Knutrud, Håvard Holmboe Lian</p>
            </div>
        </div>
<script src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<script src="{{ STATIC_URL }}js/bloodhound.min.js"></script>
<script src="{{ STATIC_URL }}js/handlebars-v2.0.0.js"></script>
<script>
 $(function () {
    var course = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 10,
        remote: '/api/typeahead/course?query=%QUERY'
    });

    course.initialize();

    $("#query").typeahead(
        {
            hint: false,
            highlight: true

        },
        {
            name: 'course',
            displayKey: 'code',
            templates: {
                empty: '<p>Ingen treff</p>',
                suggestion: function(value) {
                    var q = document.getElementById("query").value;

                    if(value.norwegian_name.toLowerCase().indexOf(q) != -1)
                        return "<p>" + value.norwegian_name + "</p>";
                    else
                        return "<p>" + value.code + " - " + value.norwegian_name + "</p>";
                }
            },
            source: course.ttAdapter()

        }
    ).on('typeahead:selected', function(event, suggestion, dataset) {
        document.location = "/course/" + suggestion.code;
    });
});
</script>
</body>
</html>
