{% extends "base.html" %}

{% block title %} {{ block.super }} | {{ course.code }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/jquery.jqplot.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ course.code }} - {{ course.norwegian_name }}</h1>
        <h2>Faglig Innhold</h2>
        <p>
            {% if course.content %}
                {{ course.content }}
            {% else %}
                Ingen info.
            {% endif %}
        </p>
        <h2>Læringsmål</h2>
        <p>
            {% if course.learning_goal %}
                {{ course.learning_goal }}
            {% else %}
                Ingen info.
            {% endif %}
        </p>
        <hr>
        <a href="http://www.ntnu.no/studier/emner/{{ course.code }}" target="_blank">http://www.ntnu.no/studier/emner/{{ course.code }}</a>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <div id="graph-selector">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" id="bar-graph-button">Karakterer</button>
                    <button type="button" class="btn btn-default" id="average-graph-button">Snitt</button>
                    <button type="button" class="btn btn-default" id="failed-graph-button">Strykprosent</button>
                </div>
            </div>
            <div id="grades-graph"></div>
            <div id="bar-chart-data">
                {% if course.average > 0 %}
                    <ul class="nav nav-list">
                        <li>Snittkarakter: <label id="average-grade" ></label></li>
                        <li>Totalt snitt: <label id="total-average-grade" >{{ course.average|floatformat:-2 }}</label></li>
                    </ul>
                {% endif %}
                <div id="grade-group">
                    <div id="grade-buttons" class="btn-toolbar"></div>
                </div>
            </div>
        </div>
        <div class="well">
            <ul class="nav nav-list">
                <li>
                    <label>Studiepoeng: {{ course.credit|floatformat:-1 }}</label>
                </li>
                <li>
                    <label>Nivå: {{ course.course_level }}</level>
                </li>
                <li>
                    <label>Vår: {% if course.taught_in_spring %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}</label>
                </li>
                <li>
                    <label>Høst: {% if course.taught_in_autumn %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}</label>
                </li>
                <li>
                    <label>Engelsk undervisning: {% if course.taught_in_english %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}</label>
                </li>
            </ul>
        </div>

        <div class="well">
            <h4>Tags</h4>
            <ul class="nav nav-list">
                <li>
                     <div class="tags">
                    {% for tag in tags %}

                        <a href="/search/?query={{ tag.tag }}&faculty_code=-1" class="btn btn-default btn-sm btn-tag" role="button">{{ tag.tag }}</a>
                    {% endfor %}
                    </div>
                </li>
                <li>
                    <form class="form-inline" action="tags/add/" method="POST">
                        {%  csrf_token %}
                        <input name="tag" type="text" placeholder="tag (maks 32 tegn)" class="form-control input-sm" />
                        <button type="submit" class="btn btn-sm btn-primary">Legg til</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gradestats.js"></script>
</div>
{% endblock content %}
