{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
            <tr>
                <th>Fagkode</th>
                <th>Navn</th>
                <th>Gjennomsnittskarakter</th>
            </tr>
            {% for course in courses %}
            {% if course.average > -1 %}
            
                <tr onclick="document.location='{{ course.get_absolute_url }}';">
                    <td>{{ course.code }}</td>
                    <td>{{ course.norwegian_name }}</td>
                    <td>{{ course.average|floatformat:-2 }}</td>
                </tr>
            
            {% endif %}
            {% endfor %}
            </table>
            {% if courses.paginator.num_pages > 1 %}
                <div class="container-fluid text-center">
                    {% if courses.has_previous %}
                        <a href="?page={{ courses.previous_page_number }}"><<</a>
                    {% else %}
                        <<
                    {% endif %}

                    {{ courses.number }} av {{ courses.paginator.num_pages }}

                    {% if courses.has_next %}
                        <a href="?page={{ courses.next_page_number }}">>></a>
                     {% else %}
                        >>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
