{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-box">
                <form class="form-inline" action="/search/" method="GET">
                    <div class="control-group form-inline">
                        <input autocomplete="off" id="query" name="query" value="{{query}}" type="text" class="tt-input form-control input-default"/>
                        <select class="form-control input-default" name="faculty_code">
                            <option value="-1">Velg fakultet eller søk på alle fakulteter</option>
                            {% for key, value in faculties.items %}
                                <option {% if key == selected %} selected {% endif %} value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="input-default btn btn-primary">Søk</button>
                    </div>
                </form>
            </div>

            <br />
            {% if not courses %}
            <div class="alert alert-danger">

                <p>Vi fant desverre ingen fag</p>
            </div>
            {% else %}
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Fagkode</th>
                        <th>Navn</th>
                        <th>Snitt</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                {% if course.average > -1 %}

                    <tr onclick="document.location='{{ course.get_absolute_url }}';">
                        <td>{{ course.code }}</td>
                        <td>{{ course.norwegian_name }}</td>
                        <td>
                        {% if course.average > 0 %}
                            {{ course.average|floatformat:-2 }}
                        {% else%}
                            -
                        {% endif %}
                        </td>
                    </tr>

                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if courses.paginator.num_pages > 1 %}
                <div class="container-fluid text-center">
                    {% if courses.has_previous %}
                        <a href="?page={{ courses.previous_page_number }}&amp;query={{ query }}&amp;faculty_code={{ selected }}">&lt;&lt;</a>
                    {% else %}
                        &lt;&lt;
                    {% endif %}

                    {{ courses.number }} av {{ courses.paginator.num_pages }}

                    {% if courses.has_next %}
                        <a href="?page={{ courses.next_page_number }}&amp;query={{ query }}&amp;faculty_code={{ selected }}">>></a>
                     {% else %}
                        >>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<script src="{{ STATIC_URL }}js/bloodhound.min.js"></script>
<script src="{{ STATIC_URL }}js/handlebars-v2.0.0.js"></script>
<script>
 $(function () {
    var course = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 10,
        remote: '/api/typeahead/course?query=%QUERY'
    });

    course.initialize();

    $("#query").typeahead(
        {
            hint: false,
            highlight: true

        },
        {
            name: 'course',
            displayKey: 'code',
            templates: {
                empty: '<p>Ingen treff</p>',
                suggestion: function(value) {
                    var q = document.getElementById("query").value;

                    if(value.norwegian_name.toLowerCase().indexOf(q) != -1)
                        return "<p>" + value.norwegian_name + "</p>";
                    else
                        return "<p>" + value.code + " - " + value.norwegian_name + "</p>";
                }
            },
            source: course.ttAdapter()

        }
    ).on('typeahead:selected', function(event, suggestion, dataset) {
        document.location = "/course/" + suggestion.code;
    });
});
</script>
{% endblock content %}
