{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" method="GET">
                <select name="faculty_code">
                    <option value="61">Fakultet for arkitektur og billedkunst</option>
                    <option value="62">Det humanistiske fakultet</option>
                    <option value="63">Fakultet for informasjonsteknologi, matematikk og elektroteknikk</option>
                    <option value="64">Fakultet for ingeniørvitenskap og teknologi</option>
                    <option value="65">Det medisinske fakultet</option>
                    <option value="66">Fakultet for naturvitenskap og teknologi</option>
                    <option value="67">Fakultet for samfunnsvitenskap og teknologiledelse</option>
                </select>
                <input class="btn btn-primary" type="submit" value="Filtrer" />
            </form>

            <table class="table table-hover">

            <tr>
                <th>Fagkode</th>
                <th>Navn</th>
                <th>Gjennomsnittskarakter</th>
            </tr>
            {% for course in courses %}
            {% if course.average > -1 %}
            
                <tr onclick="document.location='{{ course.get_absolute_url }}';">
                    <td>{{ course.code }}</td>
                    <td>{{ course.norwegian_name }}</td>
                    <td>{{ course.average|floatformat:-2 }}</td>
                </tr>
            
            {% endif %}
            {% endfor %}
            </table>
            {% if courses.paginator.num_pages > 1 %}
                <div class="container-fluid text-center">
                    {% if courses.has_previous %}
                        <a href="?page={{ courses.previous_page_number }}{% if query %}&query={{ query }}{% endif %}"><<</a>
                    {% else %}
                        <<
                    {% endif %}

                    {{ courses.number }} av {{ courses.paginator.num_pages }}

                    {% if courses.has_next %}
                        <a href="?page={{ courses.next_page_number }}{% if query %}&query={{ query }}{% endif %}">>></a>
                     {% else %}
                        >>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
